:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --Grey700: hsl(0, 0%, 20%);
  --Grey800: hsl(0, 0%, 12%);
  --Grey900: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Grey900);
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  background-color: var(--Grey800);
  display: grid;
  justify-items: center;
  margin: 15rem auto;
  padding: 2rem;
  width: 20rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--White);
}

img {
  display: block;
  border-radius: 50%;
  width: 5rem;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.address {
  color: var(--Green);
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0rem;
  margin-top: 0rem;
  font-size: 0.8rem;
}

a {
  display: block;
  width: 15rem;
  text-align: center;
  padding: 0.6rem;
  margin: 0.5rem 0;
  background-color: var(--Grey700);
  color: var(--White);
  text-decoration: none;
  border-radius: 0.4rem;
  font-weight: bold;
}
